
/* TIPS GENERATOR CSS */
#tg {
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* LEGEND BACKGROUND COLOR*/

.legend918KISS {
    background-color: rgba(96, 62, 168, 0.8);
}

.legend918KISS:hover {
    background-color: rgba(96, 62, 168, 1);
    cursor: pointer;
}

.legendMEGA888 {
    background-color:rgba(243, 156, 18, 0.8);
}

.legendMEGA888:hover {
    background-color:rgba(243, 156, 18, 1);
    cursor: pointer;
}

.legendPUSSY888 {
    background-color: rgba(60, 141, 188, 0.8);
}

.legendPUSSY888:hover {
    background-color: rgba(60, 141, 188, 1);
    cursor: pointer;
}

.legendXE88 {
    background-color: rgba(0, 166, 90, 0.8);
}

.legendXE88:hover {
    background-color: rgba(0, 166, 90, 1);
    cursor: pointer;
}

/* MAIN */

#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

fieldset {
    background-color: lightgrey;
    width: 195px;
    padding: 0;
    border: 3px solid black;
    border-radius: 3px;
    margin: 3px auto 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

legend {
    color: white;
    font-weight: 700;
    padding: 0 4px;
    border: 3px solid black;
    border-radius: 3px;
    margin-bottom: 4px;
    text-align: center;
    width: 90px;
}
.counter {
    color: red;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    position: relative;
    left: 36%;
    top: -18px;
}

textarea {
    font-family: 'Space Mono', monospace;
    font-size: 11px;
    font-weight: 500;
    width: 95%;
    height: 107px;
    border: 2px solid black;
    resize: none;
}

.reroll {
    background-color: #f5e050;
    cursor: pointer;
    border: 1px solid black;
    margin: 4px;
}

.btn-bottom {
    display: flex;
    align-items: center;
}
            
.btn-bottom input {
    height: 20px;
    width: 50.82px;
    border: 2px solid black;
}
            
